/*******************************************************************************
 *
 * Author:      Andy G. Dodson
 * File:        Main.css
 * Description: Main css file for ZombieRun Website
 *
 * Using standards for iphone5, and ipad devices         
 * Desktop / Lapop screen width :   1024 min
 * Ipad :           Horizontal  :   1024 (same as desktop)
 *                  Vertical    :   768   
 * Iphone 6 :       Horizontal  :   320
 *
 * A better target group would probably use a more recent phone maybe iphone6+ upwards        
 *
 *******************************************************************************/

/**     Setting that apply to whole documnet <HTML>        **/
/**     Same Font Styler as used in the game ZombieRun     **/

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap'); 

/**     All HTML, box sizing set to border-box applies padding + border are included in total width and height      **/
*{
    box-sizing : border-box;
}

/**     Basic font applied to whole document , modified where need be for differnt font     **/
body {
    font-family: "Lucida Sans", sans-serif;
    background-color: #4b4b4f;
}

/**     Navbar Style settings       **/
/* ********** Nav Bar ************** */
#myNavbar {
    font-family: 'Bangers', cursive;
    font-size: 1.2em;
    color: #500D0D;
    background-color: #4b4b4f; 
    height: 5em ;
    position: fixed;    /* set navbar to fixed postion */
    top: 0; /* set position to top */
    width: 100% ; /* Full width*/
    text-align:center;
}

/* ****** Nav bar formatting with flexigrid ******* */
.navbar ul {
    display: flex;
    flex-direction: row;
    margin: 0 ;
    padding: 0.5em;
    list-style: none;   /* remove bullet points form list */ 
    justify-content: center;
    align-items: center;  
}
.navbar ul li{
    margin: 0 1em 7px 1em;
}
.navbar ul li a {
    display: block;
    border : 1px solid;
    border-radius : 0.5em;
    padding : 0.5em 1em;
    margin : 0.5em;
}
.navbar a.active {
    background-color: #500D0D;
    color:white;
}
/**     Set spacing on logo to auto thus pushes menu items to right of nav bar, sitting logo on left */
#myNavbar ul li.logo {
    font-size: 3em;
    margin-right: auto; 
    padding: 0.2em 0.2em 0 0.2em;
}
/**     Hide the link for the hamburger icon        **/
.navbar-s .icon{
    display:none;
}
.navbar-s {display : none;}
/**     End of navbar formatting        **/

/**     Setting up of the grid layout       **/
.grid-container {
    display: grid;
    margin-top: 5.5em;
    grid-template-areas:       
                            "header header  header  header  header  header  header  header  header  header  header  header"
                            "auto   auto    auto    auto    auto    auto    auto    auto    auto    auto    auto    auto"
                            "auto   auto    auto    auto    auto    auto    auto    auto    auto    auto    auto    auto"
                            "footer footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer"   ; 
}
/**     Header style        **/
.header { 
    grid-area: 1 /1 / 1/ span 12;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-family: 'Bangers', cursive;
    text-align: justify;
    color: #500D0D
}


/**     Start on row / column / end (or span no of.) on row / column **/
/**     mobile first : devices smaller than 600px  **/
@media only screen and (max-width: 600px) {
    /** navbar responsive styleing **/
    #myNavbar ul li.logo {
        font-size:2.5em;
        margin-left:0.1em;
    }
    .navbar ul li {
        text-align: left;
        }
    .navbar ul li:not(:first-child) {display: none;}
    .navbar-s a{display: none;}
    .navbar-s a.icon{
        float:right;
        position: fixed;
        top: 1.5em;
        right: 0.5em;
        display:flex;
    }
    /**     following style class is added via javascript       **
    *       For the display of the navbar dropdown menu         **
    *       When the user Clicks the hamburg Icon               **/
    .navbar-responsive { position: relative;}
    .navbar-responsive ul { list-style: none;}
    .navbar-responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar-responsive a.icon{
        float: right;
        position: fixed;
        right:0.5em;
        top:1.5em;
        display:flex;
    }  
    /**     Responive grid layout       **/
    .left { grid-area: 3 / 1 / 3 / span 12;}
    .main { grid-area: 2 / 1 / 2 / span 12;}
    .right { grid-area: 4 / 1 / 4 / span 12; }
    /**     Main content styling        **/
    div h2 {font-size: 1.4em;}
    div .col-70 {width: 100%;}
    div .col-30{ width: 100%;}

}

/**     Tablet and other device bigger than 600 -768px **/
@media only screen and (min-width: 600px) {
    .left {
        grid-area: 4 / 1 / 4 / span 12;
    }
    .main {
        grid-area: 2 / 1 / span 2 / span 8;
    }
    .right {
        grid-area: 2 / 9 / span 2 / span 4;
    }
}

/**     Other devices over 768px **/
@media only screen and (min-width: 768px) {
    .left {
        grid-area: 2 / 1 / span 3 / span 2;
    }
    .main {
        grid-area: 2 / 3 / span 3 / span 7;
    }
    .right {
        grid-area: 2 / 10 / span 3 / span 3;
    }
    .col-70 {width: 100%;}
    .col-30 {width: 80%;}
}

@media only screen and (max-width: 1055px){
    .navbar ul li:not(:first-child) {display: none;}
    .navbar-s {
        display : flex;
        flex-direction: row;
        margin: 0 0.5em;
    }
    .navbar-s a{
        width: 18%;
        border : 1 px solid;
        border-radius : .5em;
        padding : .5em 1em;
        margin : .5em;
        margin-top: .1em;
        text-align: center;
    }
}
/**     NOTE : Using grids is reltive new so would need fall back support for edge 15 or lower or internet explorer. Flexigrid (?) **/

.right,
.left,
.main {
    padding: 10px;
}
/**     End of layout formatting        **/

/**     Main Content formatting         **/
/**     ******** END OF RESPONSIVE GRID FORMATING   ********        **/
p {margin: 15px;}
a {
    text-decoration: none;
    color: blue;
}
a:focus {
    color: blue;
    background-color: darkgrey;
}
a:hover {
    color: blue;
    background-color: darkgray;
}
a:active {background-color: red;}
a:visited { color: maroon;}
h1 {text-align: center;}
h2 {
    font-family: 'Dancing Script', cursive;
    color: green;
    text-align: left;
}
  
.sub-heading {
font-size: 25px;
margin-right: 25px;
}

.fa {font-size: 20px;}

.checked {color: orange;}

/**   My custom layouts     **/


.col-15 {
    float: left;
    width: 15% ;
    margin-top: 10px;
}
.col-30 {
    float: left;
    width: 30%;
    margin-top: 10px;
}

.col-70 {
    float: left;
    width: 75%;
    margin-top: 10px;
}
.col-75 {
    float : left;
    width: 75%;
    margin-top:6px;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.t-a-right {
    text-align: right;
}
.col-a-l { 
    float: left;
    margin-top: 10px;
}
.col-a-r{
    float: right;
    margin-top: 10px;
}
/** alignment last so they override the col-* alignment     **/
.row::after {
    content: "";
    display: table;
    clear: both;
}
/** swap .side --> col-15  **/
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
    }
/** swap .a-right --> col-30 col-a-r **/
.col-30{
    float: right;
    width: 30%;
    margin-top:10px;
}
/** swap .middle --> col-70  **/
.middle {
float: left;
width: 70%;
margin-top: 10px;
}


  
/* The bar container */
.bar-container {
width: 100%;
background-color: #f1f1f1;
text-align: center;
color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 1220px) {

.col-70 {width: 85%; }
}

@media only screen and (max-width: 600px ){
.t-a-right { 
display: block;  
text-align: right;
}
.side { 
display: block;  
width: 15%;
}
.col-70 {width : 70%;}
}


/*      responsive images     */
img{
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ccc;
}
/**     Form formatting     **/
/*      style input, selct element and text areas        */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/*      style tha label display nect ot  inputs     */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/*      style the submit button     */
input[type=submit]{
    background-color: #500D0D;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/*      Style the container     */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media screen and (max-width: 600px){
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/**     404 page formatting     **/
.notfound p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center;
}

.horz-l {
    width: 95%;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
}


/**     Footer      */ 
/**     Footer goes last there should be nothing to override the footer format as it last in document **/
.footer {
    grid-area: 5 / 1 / 5 / span 12;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    background-color: #4b4b4f; 
    height:1.5 em;
    margin: 0.6em;
    padding: 0.3em;
    bottom: 0; /* set position to bottom */
    width: 98% ; /* Almost Full width leaves small border from side of page*/
    text-align:center;
    justify-content: center;
    align-items: center;
}


